.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.form {
    margin: 2rem auto;
}

.form select {
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 5px;
}

.iframe {
    max-width: 98%;
}

.loading-text {
    display: none;
    margin: 1rem 0;
    font-weight: 700;
}

.video-title {
    text-align: left;
    margin: 1rem 0px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    letter-spacing: 0.5px;
}


.next-video-btn {
    background-color: rgba(0, 0, 255, 0.2);
    margin: 1rem 0;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-video-btn:hover {
    background-color: rgba(0, 0, 255, 0.4);
}